<h1><%=@book.title%></h1>
<h3>Author Name: <%=@book.author_first%> <%=@book.author_last%></h3>
<h3>Genre: <%=@book.genre%></h3>

<h3><a href="/patron/<%=@patron.id()%>/books">Browse Books</a></h3>

<form action="/patron/<%=@patron.id()%>" method="post">
  <select class="" name="patron_id">
    <% @patrons.each do |patron| %>
        <option value="<%= patron.id %>"><%=patron.patron_first%> <%=patron.patron_last%></option>
    <%end%>
  </select>
  <input type="hidden" name="book_id" value="<%= @book.id %>">
  <button type="submit" name="button">Checkout Book</button>
</form>


<form action="/patron/<%=@patron.id%>/book/<%=@book.id()%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Enter Book Title</label>
  <input type="title" name="title">
  <label for="author_last">Author Last Name:</label>
  <input type="author_last" name="author_last">
  <label for="author_first">Author First Name:</label>
  <input type="author_first" name="author_first">
  <label for="genre">Genre:</label>
  <input type="genre" name="genre">
  <button type="submit" name="button">Update Book</button>
</form>

<form class="" action="/patron/<%=@patron.id%>/book/<%=@book.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Delete Book</button>
</form>
