<% if @books.any?() %>

<form class="" action="/patron/<%=@patron.id%>/books" method="get">
  <label for="search">Search for Books:</label>
  <input type="text" name="search" value="">
  <button type="submit" name="button">Search</button>
</form>

<h1>Here is a list of all the books:</h1>

<ul>
  <% @books.each() do |book| %>
    <a href="/patron/<%=@patron_id%>/book/<%=book.id()%>"><%=book.title()%></a>
  <% end %>
</ul>

<% else %>

  <h1>This library has no books!</h1>

<% end %>

<form action="/patron/<%=@patron_id%>/books" method="post">
  <label for="title">Enter Book Title</label>
  <input type="title" name="title">
  <label for="author_last">Author Last Name:</label>
  <input type="author_last" name="author_last">
  <label for="author_first">Author First Name:</label>
  <input type="author_first" name="author_first">
  <label for="genre">Genre:</label>
  <input type="genre" name="genre">
  <button type="submit" name="button">Add Book</button>
</form>
